[Unit]
Description=Smart Irrigation System
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Water-system-project-main
Environment="PATH=/home/pi/.local/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/pipenv run python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
